.container{
	display: grid;
	grid-template-columns: 1fr 11fr;
	grid-template-rows: 100px 250px 50px;
	gap: 10px;
	width: 800px;
	margin: 10px;
	padding: 10px;
}

.inside{
	background-color: red;
	border: 2px outset white;
	font-size: 200%;
	padding: 10px;
	box-shadow: 4px 2px 2px black;
	text-align: center;
}

.span2{
	grid-column: span 2;
}

.box3{
	font-size: 150%;
} 

a{
	text-decoration: none;
	background-color: white;
	padding: 10px;
	border-radius: 10px; 
	box-shadow: 2px 1px 1px black;
}