.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px 200px 200px 100px;
	gap: 10px;
	width: 800px;
	margin: 10px;
	padding: 10px;
}

.inside{
	background-color: red;
	border: 2px dashed white;
	font-size: 200%;
	padding: 10px;
	color: white;
	box-shadow: 6px 3px 3px black;
}

.span2{
	grid-column: span 2;
}
.span3{
	grid-column: span 3;
}
.span5{
	grid-column: span 5;
}

#home{
	text-decoration: none;
	background-color: red;
	padding: 10px;
	border-radius: 10px; 
	box-shadow: 2px 1px 1px black;
	margin: 10px;
	color: white;
}
 