/*Font: Noto Sans*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/*Alternatively you can use the <link> element in html to import*/

body{
	background-color: lightgreen;
}

img{
	width: 220px;
	height: 200px;
	border: 5px dashed white;
}

a{
	background-color: white;
	border-radius: 10px;
	text-decoration: none;
	padding: 2px;
}

a:hover{
	background-color: lightgreen;
}

#final{
	font-family: 'Noto Sans', sans-serif;
	font-size: 120%;
}

#home{
	text-decoration: none;
	background-color: white;
	padding: 10px;
	border-radius: 10px; 
	box-shadow: 3px 2px 3px darkgreen;
}